.an-house {
  &__steps {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      width: auto;
      text-align: center;

      &:not(:first-of-type) {
        margin-left: rem(50);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: rem(30);
          height: 1px;
          background-color: $black;
          top: 50%;
          transform: translateY(-50%);
          left: rem(-30);
        }
      }

      &--active {
        color: $an-theme;
        &:not(:first-of-type) {
          &::before {
            content: "";
            position: absolute;
            width: rem(30);
            height: 1px;
            background-color: $an-theme;
            top: 50%;
            transform: translateY(-50%);
            left: rem(-30);
          }
        }
      }

      &-icon {
        font-size: 55px;
      }
    }
  }

  @include tablet {
    &__steps {

      &-item {
        width: 120px;

        &:not(:first-of-type) {
          margin-left: 106px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 106px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            left: -106px;
          }
        }

        &--active {
          &:not(:first-of-type) {
            &::before {
              width: rem(106);
              left: rem(-106);
            }
          }
        }
      }
    }
  }


  @media screen and (max-width: $tablet) {
    &__steps--calculator {
		
      .an-house__steps-item-icon { 
        font-size: 35px;
      }
    
      .an-h5 {
        font-size: 10px;
        line-height: 14px;
      }
    
      .an-house__steps-item:not(:first-of-type) {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .an-house__steps-item:not(:first-of-type)::before {
        left: -20px;
        width: 20px;
      }
    }
  }
  .an-cards {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    /* 2018 spec - For Safari 11, Chrome 69+ */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
    /* 2015 spec - For Firefox, Edge, IE */
    scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100%);
    -ms-scroll-snap-points-x: repeat(100%);
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    max-width: 90rem;

    @include desktop {
      width: auto;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .an-card {
      scroll-snap-align: center;
      margin-right: rem(20);
      margin-bottom: rem(24);
      margin-top: rem(24);
      z-index: 1;
      order: 0;
      width: 100%;
      min-width: calc(100% - 40px);
  
      @include desktop {
        width: auto;
        min-width: rem(500);
      }
  
      &:first-child {
        margin-left: rem(20);
  
        @include desktop {
          margin-left: 0;
        }
      }
  
      &.featured {
        order: 0;
        z-index: 2;
      }
    }
  }
  
  .an-pack-cards__dots {
    display: flex;

    .an-pack-cards__dot {
      background: $an-theme;

      @include desktop {
        &:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
}
