.an-house {
  &__steps {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      width: auto;
      text-align: center;

      &:not(:first-of-type) {
        margin-left: rem(50);
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: rem(30);
          height: 1px;
          background-color: $black;
          top: 50%;
          transform: translateY(-50%);
          left: rem(-30);
        }
      }

      &--active {
        color: $an-theme;
        &:not(:first-of-type) {
          &::before {
            content: "";
            position: absolute;
            width: 106px;
            height: 1px;
            background-color: $an-theme;
            top: 50%;
            transform: translateY(-50%);
            left: -106px;
          }
        }
      }
      &-icon {
        font-size: 55px;
      }
    }
  }

  @include tablet {
    &__steps {

      &-item {
        width: 120px;

        &:not(:first-of-type) {
          margin-left: 106px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 106px;
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            left: -106px;
          }
        }
      }
    }
  }
}
