.portlet-blogs {

  .widget-mode-detail {
    .title {
      font-family: $fs-emeric-semibold-family;
      font-size: rem(24);
      font-weight: normal;
      line-height: rem(32);
      text-align: center;
      color: $white;
  
      @include tablet {
        font-size: rem(80);
        line-height: rem(94);
      }
    }
  }
}

.an-blog {
  padding-top: rem(100);
  margin-bottom: rem(165);

  .an-h6,
  &__heading {
    text-align: center;
  }

  &__heading {
    color: $an-theme;

    .bg-an-theme & {
      color: $white;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: rem(1220);
    margin: auto;
    margin-bottom: rem(108);
    margin-top: rem(56);

    &.an-blog__content--multi {
      margin-top: rem(-84);
    }
  }

  &__footer {
    justify-content: center;
    display: flex;
    
    .an-btn {
      &:first-of-type {
        margin-right: rem(20);
      }

      &:last-of-type {
        margin-left: rem(20);
      }
    }
  }
}

// REFACTOR WITH CUSTOM TEMPLATE
.anidia-single-post-page {
  #content {
    padding: 0 rem(20);

    @include tablet {
      padding: 0;
    }
  }
  .component-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    img {
      min-height: 100vh;

      @include tablet {
        min-height: rem(900);
      }
    }
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center !important;
    max-width: rem(850);
    width: 100%;
    top: 0;
  }

  #fragment-0-tgve {
    background: $white;

    @include tablet {
      border-radius: rem(100);
      overflow: hidden;
      transform: translateY(-168px);
      margin-bottom: rem(-100);
    }

    h2 {
      font-family: $open-sans-regular-family;
      font-size: rem(24);
      line-height: rem(30);
      color: $an-theme;
      max-width: rem(1024);
      margin: auto;

      @include tablet {
        padding-top: rem(200);
      }
    }
  }

  #fragment-0-cozp {
    height: rem(700);
  }

  #fragment-0-dbtt {
    .component-paragraph {
      max-width: rem(1024);
      margin: auto;

      p {
        margin-bottom: rem(50);
        font-family: $open-sans-regular-family;
        font-size: rem(16);
        line-height: rem(24);
      
        @include tablet {
          font-size: rem(18);
          line-height: rem(28);
        }
      }
    }
  }

  .component-social {
    margin-bottom: rem(80);
  }

  .component-button {
    margin-bottom: rem(200) !important;

    .btn {
      @extend %an-btn;
      @extend %an-btn--white;
    }
  }
}