.portlet-blogs {

  .widget-mode-detail {
    .title {
      font-family: $fs-emeric-semibold-family;
      font-size: rem(24);
      font-weight: normal;
      line-height: rem(32);
      text-align: center;
      color: $white;
  
      @include tablet {
        font-size: rem(80);
        line-height: rem(94);
      }
    }
  }
}

.an-blog {
  padding-top: rem(100);
  margin-bottom: rem(165);

  &__preheading {
    text-align: center;
  }

  &__heading {
    color: $an-theme;
    text-align: center;

    .bg-an-theme & {
      color: $white;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: rem(1220);
    margin: auto;
    margin-bottom: rem(108);
    margin-top: rem(56);

    &.an-blog__content--multi {
      @include tablet {
        margin-top: rem(-84);
      } 
    }
  }

  &__footer {
    justify-content: center;
    display: flex;
    
    .an-btn {
      &:first-of-type {
        margin-right: rem(20);
      }

      &:last-of-type {
        margin-left: rem(20);
      }
    }
  }

  &__categories {
    display: block;
    color: $an-theme;
    margin-bottom: rem(48);

    @include tablet {
      margin-bottom: rem(100);
    }

    .an-pill {
      margin-right: rem(28);
      transition: all .3s ease;
    
      &:hover {
        color: $white;
        background-color: $an-theme;
        border-color: $an-theme;
        text-decoration: none;
      }
    }
  }

  .an-pill {
    text-transform: capitalize;
    padding: 0 rem(22);
    height: rem(30);
  }

  .an-h6 {
   text-transform: uppercase;   
  }

  .an-accordeon__search-input-wrapper {
    max-width: 100%;

    @include tablet {
      margin-bottom: 0;
      max-width: 90%;
    }
  }

  &__footer {
    text-align: center;
  }
}

// REFACTOR WITH CUSTOM TEMPLATE
.anidia-single-post-page {
  #content {
    padding: 0 rem(20);

    @include tablet {
      padding: 0;
    }
  }
  .component-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    img {
      min-height: 100vh;
      object-fit: cover;

      @include tablet {
        min-height: rem(900);
      }
    }
  }

  h1 {
    color: $white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center !important;
    max-width: rem(850);
    width: 100%;
    top: 0;
    margin-top: 30%;

    @include tablet {
      margin-top: 25%;
    }
  }

  .component-paragraph {
    background: $white;
    max-width: rem(1024);
    margin-top: calc(100vh - 80px);

    @include tablet {
      margin: auto;
      margin-top: calc(100vh - 120px);
      // border-radius: rem(100);
      // overflow: hidden;
      // transform: translateY(-168px);
      // margin-bottom: rem(-100);
      min-height: rem(700);
    }

    h2 {
      font-family: $open-sans-regular-family;
      font-size: rem(24);
      line-height: rem(30);
      color: $an-theme;
      max-width: rem(1024);
      margin: auto;
      margin-top: rem(48);
      margin-bottom: rem(24);
    }

    p {
      margin-bottom: rem(50);
      font-family: $open-sans-regular-family;
      font-size: rem(16);
      line-height: rem(24);
    
      @include tablet {
        font-size: rem(18);
        line-height: rem(28);
      }
    }

    img {
      margin-top: rem(48);
      margin-bottom: rem(48);
    }
  }

  .component-social {
    margin-bottom: rem(80);
  }

  .component-button {
    margin-bottom: rem(200) !important;
    display: flex;
    justify-content: center;

    .btn {
      @extend %an-btn;
      @extend %an-btn--white;
    }
  }
}