.anidia-header {

  .nav-item {
    color: $white;
    font-size: rem(18);
    font-family: $fs-emeric-medium-family;
    width: 100%;
    border-bottom: rem(1) solid #D8D8D8;

    @include desktop {
      margin-right: rem(40);
    }

    .nav-link:hover {
      text-decoration: underline;
      color: $white;
    }

    .lfr-nav-child-toggle svg {
      font-size: rem(10);
      margin-left: rem(10);
    }
  }

  .dropdown-menu {
    border: none;
    margin: 0;
    border-radius: 0;
    max-width: unset;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 100%;
    transition: .6s ease-in-out 0s;
    height: 100%;
    max-height: unset;
    background: $an-theme-dark-grey;

    @include desktop {
      padding: rem(40) rem(60);
      position: absolute;
      background-color: $white;
    }

    &.active {
      left: 0;
      z-index: 2;
      display: block;
    }

    .dropdown-item {

      @include desktop {
        @include gradient-yellow-bg;
        width: rem(188);
        height: rem(155);
        margin-right: rem(38);
        font-size: rem(14);
        line-height: rem(17);
        font-family: $open-sans-bold-family;
        border-radius: rem(10);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;

        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-nav {
    position: absolute;
    top: rem(66);
    left: 0;
    opacity: 0;
    transition: .25s 0s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(92);
    height: rem(66);
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .hamburger {
    position: absolute;
    top: rem(30);
    right: rem(30);
    width: rem(30);
    height: rem(4);
    background: $white;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
    border-radius: rem(20);

    &::before,
    &::after {
      transition: .5s ease-in-out;
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: rem(20);
    }

    &:before {
      top: rem(-10);
    }

    &::after {
      bottom: rem(-10);
    }
  }

  input {
    display: none;

    &:checked {
      & + .menu {
        height: 100vh;
        width: 100vw;
        background-color: $an-theme-dark-grey;
        position: fixed;
        z-index: 2;
      }

      & ~ div .navbar-nav {
        opacity: 1;
      }

      & + .menu .hamburger {
        transform: rotate(45deg);
        background-color: $white;
      }

      & + .menu .hamburger:after {
        transform: rotate(90deg);
        bottom: 0;
        background-color: $white;
      }

      & + .menu .hamburger:before {
        transform: rotate(90deg);
        top: 0;
        background-color: $white;
      }
    }
  }

  ul {
    position: absolute;
    top: rem(66);
    left: 0;
    opacity: 0;
    transition: .25s 0s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: 1;

    a {
      display: block;
      box-sizing: border-box;
      position: relative;
      color: $white;
      text-decoration: none;
      line-height: 250%;
      width: 100%;
      padding: 0 1.25rem;
    }
  }

  .back {
    a {
      padding-left: 2.5rem;
    }
  }

  .nav-item.dropdown {
    & > a {
      padding-right: 2.5rem;
    }
  }
}
