.an-counter {
  display: flex;
  align-items: center;

  span {
    margin: 0 rem(15);
  }

  &__btn {
    width: rem(31);
    height: rem(31);
    border-radius: 100%;
    background-color: $an-theme-light;
    font-size: rem(22);

    &--green {
      background-color: $an-theme;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}