# Ignore Gradle project-specific cache directory
.gradle
gradle/
# Ignore Gradle build output directory
build

build/*
dist/*
node_modules/*
liferay-npm-bundler-report.html
.webpack/*

.classpath
.project
.settings