%an-card,
.an-card {
  $el: &;

  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: $an-shadow-two;
  width: 100%;
  max-width: 100%;

  &--simple {
    text-align: center;
    padding: rem(40);
    align-items: center;
    background-color: $white;
    margin-right: rem(20);
    position: relative;
    margin-bottom: rem(20);
    z-index: 1;
    transition: max-width .2s ease,
                top .2s ease,
                z-index .2s ease;

    &.active {
      @include desktop {
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        max-width: calc(100% - 40px);
        left: 20px;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;

        .an-card__title {
          white-space: nowrap;
        }

        .an-menu-bold {
          color: $an-theme;
        }
      }
    }

    > * {
      margin-bottom: rem(6);
    }


    .an-card__title {
      font-size: rem(24);
      line-height: rem(30);
      margin-bottom: rem(20);
    }

    .an-link {
      text-transform: uppercase;
      font-size: rem(12);
      margin-top: auto;
      color: $an-theme;
      letter-spacing: rem(1.71);
      font-family: $fs-emeric-bold-family;
    }

    .an-icon--close-cross {
      align-self: baseline;
      cursor: pointer;

      &::before {
        color: $an-theme;
        font-size: rem(33);
      }
    }

    &__text-expanded {
      text-align: left;
      margin: auto;
      padding-right: flex-grid(1);
      color: $an-theme-dark-grey;

      .an-menu-bold {
        color: $an-theme;
        font-size: rem(18);
        text-align: center;
        font-family: $open-sans-bold-family;

        @include desktop {
          text-align: left;
        }
      }
    }

    &__intro {

      > div {
        margin-bottom: rem(12);

        &::before {
          margin: auto;
          width: rem(80);
        }
      }

      @include desktop {
        padding-right: flex-grid(1);
        padding-left: flex-grid(1);
      }
    }

    &__text-short {
      font-size: rem(18);
      line-height: normal;
      color: $an-theme-dark-grey;

      &__dots {
        margin-top: rem(31);
        margin-bottom: rem(17);
      }
    }
  }

  &--form {
    padding: rem(40) rem(20);
    max-width: rem(497);
    background-color: $white;
    margin: auto;

    @include desktop {
      padding: rem(50) rem(40);
    }

    .an-checkbox {
      width: 100%;
    }

    .an-body-s-regular {
      &::after {
        line-height: initial;
      }
    }

    input,
    .an-select__form,
    .an-checkbox {
      margin-bottom: rem(20);

      @include desktop {
        margin-bottom: rem(24);
      }
    }
  }


  &--banner {
    text-align: left;
    width: rem(1220);
    height: rem(700);
    align-items: flex-start;
    position: relative;
    padding-left: rem(66);

    h2,
    .an-pill,
    .an-icon--half-arrow-right {
      margin-bottom: rem(24);
      color: $white;
      z-index: 1;
    }

    h2 {
      max-width: rem(594);
    }

    .an-pill {
      color: $white;
    }

    .an-icon--half-arrow-right::before  {
      font-size: rem(53);
      color: $an-theme;
    }

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($black, .4);
      border-radius: rem(20);
      z-index: 0;
    }
  }

  &--blog {
    overflow: hidden;
    max-width: rem(498);
    background-color: $white;
    margin-bottom: rem(40);
    z-index: 1;
    position: relative;
    justify-content: flex-start;
    $parent: &;

    @include desktop {
      margin: 0 rem(13) rem(52);
    }

    &:first-child {
      max-width: 100%;
      width: 100%;
      height: rem(500);
      background: transparent;
      margin-bottom: rem(40);
      justify-content: center;
     
      @include desktop {

        .an-blog__content.an-blog__content--multi & {
          transform: translateY(140px);
          height: rem(702);
          margin-bottom: 0;
        } 
      }
    }

    &__img {
      height: rem(184);
      object-fit: cover;
      background-color: $an-theme-dark-grey;

      @include desktop {
        height: rem(270);
      }

      #{ $parent }:first-child & {
        height: 100%;
      }
    }

    &__content {
      color: $an-theme;
      padding: rem(24);
      padding-bottom: 0;
      transform: translateY(-20px);
      background: $white;
      border-radius: rem(20);

      @include desktop {
        padding: rem(40) rem(36);
        padding-bottom: 0;
      }

      #{ $parent }:first-child & {
        background: transparent;
        position: absolute;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        bottom: 0;

        @include desktop {
          bottom: auto;
          padding: rem(66);
        }
      }

      .an-pill {
        margin-bottom: rem(20);

        #{ $parent }:first-child & {
          order: 1;
          color: $white;
        }
      }

      &__date {
        margin-bottom: rem(14);
        font-family: $fs-emeric-semibold-family;
        font-size: rem(12);
        line-height: rem(14);
        letter-spacing: 1.71429px;
        text-transform: uppercase;
        display: block;

        #{ $parent }:first-child & {
          display: none;
        }
      }

      h3 {
        margin-bottom: rem(24);
        font-family: $open-sans-bold-family;
        font-size: rem(18);
        line-height: rem(25);

        @include desktop {
          font-size: rem(24);
          line-height: rem(30);
        }

        #{ $parent }:first-child & {
          font-size: rem(30);
          line-height: rem(36);
          color: $white;
          font-family: $fs-emeric-semibold-family;
          order: 0;

          @include desktop {
            font-size: rem(60);
            line-height: rem(70);
          }
        }
      }

      .an-icon--half-arrow-right {
       
        &::before {
          font-size: rem(50);
          line-height: rem(24);
          margin-bottom: rem(20);
        }
        &:hover {
          text-decoration: none;
        }

        #{ $parent }:first-child & {
          order: 2
        }
      }
    }

    &__tags {
      display: flex;
      order: 1;
    }
  }

  &--menu {
    @include gradient-green-bg;
    width: rem(188);
    min-height: rem(155);
    color: $white;
    padding-left: rem(20);
    padding-right: rem(20);
    text-align: center;
  }

  &--pack {
    padding: rem(36) rem(24);
    border-radius: rem(30);
    border: 1px solid $an-border-shadow;
    background-color: $white;
    justify-content: space-between;

    .an-list {
      margin-bottom: rem(30);

      &__icon::before {
        color: $an-theme;
      }
    }

    &__intro {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: rem(28);

      @include desktop {
        margin-bottom: 0;
      }

      h5 {
        color: $an-theme-dark-grey;

        &:last-child {
          color: $an-theme;
        }
      }
    }

    &__info {
      margin-bottom: rem(24);
      color: $an-theme;
      text-align: center;
      white-space: normal;
    }

    &--big {

      @include desktop {
        max-width: rem(529);
        min-height: rem(686);
        padding: rem(57) rem(47) rem(70);

        h3 {
          font-size: rem(30);
          line-height: rem(30);
        }
      }

      h2 {
        font-size: rem(60);
        line-height: rem(60);

        @include desktop {
          font-size: rem(120);
          line-height: rem(120);
        }
      }

      .an-list__item {
        margin-bottom: rem(11);

        @include desktop {
          margin-bottom: rem(20);
        }
      }

      &.featured {
        @include desktop {
          max-width: rem(560);
          min-height: rem(733);

          h2 {
            font-size: rem(150);
            line-height: rem(150);
          }

          h3 {
            font-size: rem(36);
            line-height: rem(36);
          }
        }
      }
    }

    &--small {

      @include desktop {
        max-width: rem(470);

        h3 {
          font-size: rem(24);
          line-height: normal;
        }
      }

      &.featured {
        @include desktop {
          max-width: rem(500);
        }
      }
    }

    &.featured {
      background-color: $an-theme;
      color: $white;
      border: none;

      h2,
      h3 {
        color: #C5EF3F;
      }

      h5:last-child,
      .an-list__icon::before,
      .an-card--pack__info {
        color: $white;
      }
    }
  }

  &--vue {
    height: fit-content;
    justify-content: flex-start;
    max-width: rem(500);
    min-width: 100%;
    overflow: hidden;
    padding: rem(36) rem(18);
    position: relative;
    scroll-snap-align: center;
    white-space: initial;

    @include desktop {
      min-width: initial;
      padding: rem(56);
    }

    &:last-child {
      margin-left: rem(27);
    }

    &.featured {
      // &::after {
      //   @include gradient-green-bg;
      //   border-radius: 50%;
      //   content: '';
      //   height: rem(415);
      //   opacity: 44%;
      //   position: absolute;
      //   right: -43%;
      //   top: -6%;
      //   width: rem(426);
      //   z-index: 1;
      //   pointer-events: none;

      //   @include desktop {
      //     height: rem(597);
      //     right: -38%;
      //     top: -21%;
      //     width: rem(613);
      //   }
      // }

      #{$el}--pack__info {
        color: #C5EF3F;
      }
    }

    #{$el}--pack__intro {
      margin-bottom: rem(19);
      z-index: 2;

      .an-h5:first-child {
        color: $an-theme-dark-grey;
        margin-bottom: rem(6);
      }
    }

    #{$el}--pack__info {
      margin-bottom: rem(43);
      z-index: 2;

      .an-h4 {
        font-size: rem(24);
      }
    }

    .an-list {
      z-index: 2;
    }

    .an-body-m-regular {
      font-size: rem(14);

      @include desktop {
        font-size: initial;
      }
    }
  }

  &__title {
    color: $an-theme;
  }

  &__icon-link {
    cursor: pointer;
    transition: all .3 ease;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__extra-list {
    margin-bottom: rem(71);

    .an-checkbox {
      margin-bottom: 0;
    }
  }

  &__extra-list__item {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
