.an-centered-featured {
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  div {

    &:first-child {

      @include desktop {
        width: flex-grid(4);
      }

      img {
        max-height: rem(256);

        @include desktop {
          max-height: 100%;
          width: 100%;
        }
      }
    }

    &:last-child {

      @include desktop {
        width: flex-grid(4);
      }

      img {
        max-height: rem(470);

        @include desktop {
          max-height: 100%;
          width: 100%;
        }
      }
    }
  }

  h2 {
    margin-bottom: rem(19);
    white-space: nowrap;
  }

  p {
    font-size: rem(18);
    width: flex-grid(7);
    margin: auto;
    margin-bottom: rem(30);
  }

  &__content {
    color: $white;
    margin-bottom: rem(40);
    text-align: center;
    z-index: 1;

    @include desktop {
      width: flex-grid(5);
    }
  }
}
