.an-funnel {
  display: flex;
  flex-direction: column;
  align-items: center;



  &__titles {
    text-align: center;
    margin-bottom: rem(32);
  }

  &__cards {
    display: flex;
    max-width: rem(447);
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    &-item {
      &:first-child {
        margin-right: rem(16);
      }

      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(48);
    width: 100%;
    max-width: 1024px;
  }

  &__white-overlay {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include tablet {
    &__cards {
      display: flex;
      max-width: 100%;
      flex-direction: row;

      &-item {
        margin-bottom: 0;

        &:first-child {
          margin-right: rem(32);
        }
        &:not(:last-child) {
          margin-right: rem(32);
        }
      }
    }

    &__footer {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
