.an-hero-slider {

  .portlet-body {
   width: 100%;
   overflow: hidden;
   height: 100vh;
   margin-top: -150px;

   @include desktop {
    margin-top: -200px;
   }
  }

  &--has-slides {
    .portlet-body {
      margin-top: auto;
    }

    .journal-content-article {
      position: absolute;

      &.first {
        .an-hero-slider__image,
        .an-hero-slider__info,
        .an-hero-slider__discover-btn {
          opacity: 1;
        }
      }
      &.inner,
      &.last {
        .an-hero-slider__image,
        .an-hero-slider__info,
        .an-hero-slider__discover-btn {
          opacity: 0;
          display: none;
        }

        .an-hero-slider__info {
          transform: translateY(200px);
        }
      }

      @media screen and (max-width: 1023px) {
        .an-hero-slider__discover-btn {
          display: none !important;
        }
      }
    }
  }

   &__info-container {
     background-image: url('../../anidia-theme/assets/img/circles-bg.svg');
     background-size: 140%;
     background-repeat: no-repeat;
     background-position: bottom left;

     @include desktop {
       display: flex;
       justify-content: space-between;
       background: none;
       overflow: hidden;

       &:after {
         content: '';
         background-image: url('../../anidia-theme/assets/img/circles-bg.svg');
         width: 100%;
         height: 110%;
         position: absolute;
         bottom: 50%;
         right: 0;
         transform: translate(45%, 50%);
         z-index: 0;
         background-size: contain;
         background-repeat: no-repeat;
       }
     }
   }

   &__info {
      padding: rem(75) rem(20) 0;
      position: absolute;
      height: 90vh;

     @include desktop {
       width: flex-grid(6);
       margin-top: auto;
       margin-bottom: auto;
       padding-top: rem(150);
       padding-left: flex-grid(1);
       height: 100%;
       transform: unset;
       position: relative;
     }
   }

   &__image {
     width: 100%;
     position: relative;
     z-index: -1;

     &:first-of-type {
       opacity: 1;
     }

     @include desktop {
       width: flex-grid(5);
       will-change: transform;
       height: 100vh;
       z-index: 0;
     }

     &-desktop {
       display: none;

       @include desktop {
         display: block;
         height: 96%;
         transform: scale(1.05);
       }
     }

     &-mobile {
       width: 85%;
       position: relative;
       left: 50%;
       transform: translateX(-50%);
       bottom: -200px;
 
       @include desktop {
         display: none;
       }
     }
   }


   &--has-slides {
    &__info {
      opacity: 0;
    }
    &__image {
      opacity: 0;
    }
   }

   &__heading {
     color: $white;
     font-size: rem(30);
     font-weight: normal;
     line-height: rem(37);

     @media (min-width: 1024px) {
       font-size: rem(68);
       line-height: rem(74);
     }

     @media (min-width: 1440px) {
       font-size: rem(80);
       line-height: rem(96);
       margin-bottom: rem(20);
     }
 
     .an-hero-slider.white &,
     .an-hero-slider.light-green & {
       color: $an-theme;
     }
   }

   &__text {
     color: $white;

     @include desktop {
       margin-bottom: rem(33);
     }


     .an-hero-slider.white &,
     .an-hero-slider.light-green & {
       color: $an-theme;
     }
   }

   &__discover-btn {
     display: none;

     @media (min-width: 1024px) {
       text-transform: uppercase;
       color: $white;
       display: flex;
       transform: rotate(90deg);
       position: absolute;
       z-index: 5;
       right: 36%;
       bottom: rem(140);

       .an-hero-slider.white &,
       .an-hero-slider.light-green & {
         color: $an-theme-dark-grey;
       }

       span {
         display: block;
         margin-left: rem(20);
         font-size: rem(40);
         position: relative;
         transition: all 0.3s ease;
         animation: discoverArrow 0.8s infinite;

         .an-hero-slider.white &,
         .an-hero-slider.light-green & {
           color: $an-theme;
         }
       }
     }
   }

   &__lines {
     position: fixed;
     bottom: rem(164);
     left: 0;
     z-index: 1;

     &-list {
       display: flex;
       flex-direction: column;
     }

     &-item {
       width: rem(15);
       height: 1px;
       margin-bottom: rem(18);
       background-color: $white;
       transition: all 0.3s ease;

       .an-hero-slider.white &,
       .an-hero-slider.light-green & {
         background-color: $an-theme;
       }

       &--active {
         width: rem(30);
         height: 3px;
       }
     }
   }

   &__btn {
     position: absolute;
     bottom: 0;
     right: 50%;
     transform: translateX(50%);
     padding: rem(20);
     width: 100%;
     z-index: 1;

     @include desktop {
       position: relative;
       bottom: unset;
       right: unset;
       transform: none;
       padding: 0;
       width: auto;
     }

     .an-btn {
       width: 100%;

       @include desktop {
         width: rem(348);
       }
     }
   }
 }

 @keyframes discoverArrow {
   0% {transform: translateX(0px);}
   50% {transform: translateX(10px);}
   100% {transform: translateX(0px);}
 }
