.an-hero-slider {
  height: 100%;

  &__item {
    height: 100vh;

    @include desktop {
      &-inner-wrapper {
        height: 100%;
      }
    }
  }

  &__info-container {
    @include desktop {
      display: flex;
      justify-content: space-between;
      height: 100%;

      &:after {
        content: '';
        background-image: url('../../anidia-theme/assets/img/circles-bg.svg');
        width: 100%;
        height: 110%;
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translate(45%, 50%);
        z-index: 0;
      }
    }
  }

  &__info {
    @include desktop {
      width: flex-grid(6);
      margin-top: auto;
      margin-bottom: auto;
      padding-top: rem(93);
      padding-left: flex-grid(1);
    }
  }

  &__image {
    width: 100%;
    z-index: 1;

    @include desktop {
      width: flex-grid(5);
      position: absolute;
      top: 0;
      right: 0;
    }

    &-desktop {
      display: none;

      @include desktop {
        display: block;
        height: 95vh;
        transform: scale(1.2);
      }
    }

    &-mobile {
      width: 100%;

      @include desktop {
        display: none;
      }
    }
  }

  &__heading {
    color: $white;
    margin-bottom: rem(20);

    .an-hero-slider.white &,
    .an-hero-slider.light-green & {
      color: $an-theme;
    }
  }

  &__text {
    color: $white;
    margin-bottom: rem(33);

    .an-hero-slider.white &,
    .an-hero-slider.light-green & {
      color: $an-theme;
    }
  }

  &__discover-btn {
    display: none;

    @include desktop {
      text-transform: uppercase;
      color: $white;
      display: flex;
      transform: rotate(90deg);
      position: absolute;
      z-index: 5;
      right: 30%;
      bottom: rem(237);

      .an-hero-slider.white &,
      .an-hero-slider.light-green & {
        color: $an-theme-dark-grey;
      }

      span {
        display: block;
        margin-left: rem(20);
        font-size: rem(40);
        position: relative;
        transition: all 0.3s ease;
        animation: discoverArrow 0.8s infinite;

        .an-hero-slider.white &,
        .an-hero-slider.light-green & {
          color: $an-theme;
        }
      }
    }
  }

  &__lines {
    position: fixed;
    bottom: rem(164);
    left: 0;
    z-index: 100;

    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      width: rem(15);
      height: 1px;
      margin-bottom: rem(18);
      background-color: $white;
      transition: all 0.3s ease;

      .an-hero-slider.white &,
      .an-hero-slider.light-green & {
        background-color: $an-theme;
      }

      &--active {
        width: rem(30);
        height: 3px;
      }
    }
  }
}


// .an-hero-slider {

//   .portlet-body {
//     width: 100vw;
//     // display: flex;
//     // flex-wrap: nowrap;
//     // position: relative;
//     height: 100%;

//     .journal-content-article {
//       // flex-shrink: 0;
//       // width: 100%;
//       // display: flex;
//       // position: relative;
//       // align-items: normal;
//     }
//   }

//   &__inner-wrapper {
//     // width: 100%;
//     // display: flex;
//     // flex-wrap: nowrap;
//     // height: 100%;
//   }

//     .an-hero-slider.light-green & {
//       background: $an-theme-light;
//     }


@keyframes discoverArrow {
  0% {transform: translateX(0px);}
  50% {transform: translateX(10px);}
  100% {transform: translateX(0px);}
}
