.an-info-elems {
  $parent: &;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__headings {
    color: $white;
    max-width: rem(800);
  }

  &__list {
    color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(63);
  }

  &__icon {
    display: inline-block;
    font-size: rem(80);
    margin-bottom: rem(20);
  }

  &__item {
    max-width: rem(300);

    &:not(:last-of-type) {
      margin-bottom: rem(58);
    }
  }

  @include desktop {
    &__item {
      text-align: center;
      margin-bottom: 0;

      &:not(:last-of-type) {
        margin-right: rem(62);
      }
    }

    &__list {
      flex-direction: row;
      justify-content: center;
      width: flex-grid(3, 3);

      &--two-rows {
        flex-wrap: wrap;
        width: flex-grid(2, 3);

        #{ $parent }__item {
          margin-right: 0;
          width: 50%;

          &:not(:nth-of-type(2n)) {
            margin-right: rem(62);
          }
        }
      }
    }
  }
}