.share-social-links {
 text-align: center;
 
  h5 {
    text-transform: uppercase;
    color: $an-theme;
    margin-right: rem(28);
  }
  span::before {
    color: $an-theme;
    font-size: rem(25);
  }

  a:hover {
    text-decoration: none;
    color: darken($color: $an-theme, $amount: 10)
  }

  li {
    margin-right: rem(26);
  }

  .an-btn {
    margin-bottom: rem(100);

    @include desktop {
      margin-bottom: rem(200);
    }
  }
}