%an-input,
.an-input {
  $parent: &;

  align-items: center;
  display: flex;
  margin-bottom: rem(40);
  position: relative;
  max-width: 90%;
  width: rem(496);

  &__caption {
    position: absolute;
    bottom: rem(-25);
  }

  &--icon {
    #{$parent}__field {
      padding-right: rem(60);
    }

    span {
      color: $an-theme;
      position: absolute;
      right: rem(27);
      top: 50%;
      transform: translateY(-50%);
    }

    &-left {
      #{$parent}__field {
        padding-left: rem(55);
      }

      span {
        color: $an-theme;
        position: absolute;
        left: rem(27);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__field,
  &__field input {
    background-color: $white;
    border: 1px solid $an-theme-soft-grey-sec;
    box-shadow: $an-shadow-two;
    border-radius: rem(30);
    color: $an-theme-dark-grey;
    font-family: $open-sans-regular-family;
    font-size: rem(14);
    height: rem(60);
    width: 100%;
    padding: 0 rem(25);
    transition: box-shadow .2s;

    @include tablet {
      font-size: rem(18);
    }

    &--textarea {
      height: rem(250);
      padding: rem(25);
      resize: none;

      & + span {
        align-self: baseline;
        top: rem(25);
      }
    }

    &:focus {
      box-shadow: none;
      border: 2px solid $an-theme;
    }

    &:valid {
      box-shadow: none;
      border: 1px solid $an-theme;
    }
  }

  &__field {
    &-right-text {
      margin-left: rem(16);
    }
  }

  &--disabled { 
    #{ $parent }__field {
      background-color: $an-theme-soft-grey;
      box-shadow: none;
      color: $an-theme-dark-grey-op;
      pointer-events: none;
    }

    span {
      color: $an-theme-dark-grey-op;
    }
  }
}
