%an-link,
.an-link {
  color: $an-theme;
  transition: all .3s ease;

  &:focus,
  &:hover {
    color: $an-theme;
    text-decoration: none;
    transform: translateY(-2px);
  }

  &--white {
    color: $white;

    &:focus,
    &:hover {
      color: $white;
    }
  }
}
