.an-list {
  width: 100%;

  &__item {
    display: flex;
    margin-bottom: rem(18);
  }

  &__icon {
    white-space: normal;
    text-align: left;

    &::before {
      font-size: rem(20);
      margin-right: rem(13);
      display: inline;
    }
  }
}
