.an-modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba($an-theme-dark-grey, .4);

  &__content {
    background-color: $white;
    margin: auto;
    padding: rem(69) rem(77) rem(42);
    width: 100%;
    max-width: rem(870);
    margin-top: rem(80);
    height: auto;
    border-radius: rem(20);
    position: relative;
  }

  &__close {
    color: $an-theme;
    font-size: rem(31);
    position: absolute;
    top: rem(47);
    right: rem(47);

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
