table {
  border-collapse: collapse;

  td {
    border: 1px solid $an-theme-dark-grey;
    font-family: $open-sans-regular-family;
    font-size: rem(14);
    padding: rem(7);
    min-width: rem(250);
    color: $an-theme-dark-grey;
  }
}
