$colors: $white $an-theme $an-theme-light $yellow $an-theme-dark-grey $an-theme-soft-grey;
$colors-names: 'white' 'an-theme' 'an-theme-light' 'yellow' 'an-theme-dark-grey' 'an-theme-soft-grey';

@each $color in $colors {
  $i: index($colors, $color);

  .bg-#{nth($colors-names, $i)} {
    background-color: #{$color};
  }
}