.an-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem(1440);
  padding: 0 rem(20);
  width: 100%;

  @include tablet {
    padding: 0 rem(60);
  }

  &--med {
    max-width: rem(1024);
  }

  &--sml {
    max-width: rem(855);

    @include tablet {
      padding: 0;
    }
  }

  &--row {
    flex-direction: row;
  }
}

.pl-s{
  padding-left: rem(20);
}

.pr-s {
  padding-right: rem(20);
}
