.an-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem(1440);
  padding: 0 rem(60);
  width: 100%;

  &--med {
    max-width: rem(1024);
  }

  &--sml {
    max-width: rem(855);
  }

  &--row {
    flex-direction: row;
  }
}