.an-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: rem(1440);
  padding: 0 rem(20);
  width: 100%;

  @include tablet {
    padding: 0 rem(60);
  }

  &--center {
    align-items: center;
  }

  &--med {
    max-width: rem(1024);
  }

  &--sml {
    max-width: rem(855);

    @include tablet {
      padding: 0;
    }
  }

  &--row {
    flex-direction: row;
  }
}

<<<<<<< HEAD
// FORMS LAYOUT
.an-form {
  text-align: left;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .an-form__item {
      margin-bottom: rem(45);
    }

    &--justify-normal {
      justify-content: normal;
    }

    &--2-cols {
      .an-form__item {
        width: 100%;
      }
  
      @include desktop {
        .an-form__item {
          width: 48%;
        }
      } 
    }

    &--3-cols {
      .an-form__item {
        width: 100%;
      }
  
      @include desktop {
        .an-form__item {
          width: 30%;
        }
      } 
    }

    &--4-cols {
      .an-form__item {
        width: 100%;
      }
  
      @include desktop {
        .an-form__item {
          width: 23%;
        }
      } 
    }

    &--5-cols {
      .an-form__item {
        width: 100%;
      }
  
      @include desktop {
        .an-form__item {
          width: 18%;
        }
      } 
    }
    &--6-cols {
      .an-form__item {
        width: 100%;
      }
  
      @include desktop {
        .an-form__item {
          width: 14%;
        }
      } 
    }
  }
}
=======
.pl-s{
  padding-left: rem(20);
}

.pr-s {
  padding-right: rem(20);
}
>>>>>>> master
