// Margins
$margin-desktop: 0 8 16 24 32 48 64 104;
$margin-mobile: 0 8 16 24 32 48 64 '64'; // Quotes for hack and prevent the duplication remove in sass lists
$margin-names: 'none' 'xs' 's' 'm' 'l' 'xl' 'xxl' 'xxxl';

@each $size in $margin-mobile {
  $i: index($margin-mobile, $size);

  .mb-#{nth($margin-names, $i)} {
    margin-bottom: #{$size}px;
  }

  .mt-#{nth($margin-names, $i)} {
    margin-top: #{$size}px;
  }
}

@each $size in $margin-desktop {
  $i: index($margin-desktop, $size);

  @include tablet {
    .mb-#{nth($margin-names, $i)} {
      margin-bottom: #{$size}px;
    }

    .mt-#{nth($margin-names, $i)} {
      margin-top: #{$size}px;
    }
  }
}
