# Ignore Gradle project-specific cache directory
.gradle
gradle/
# Ignore Gradle build output directory
build

build/*
dist/*
node_modules/*
liferay-npm-bundler-report.html
.webpack/*
impl/bin
api/bin

.classpath
.project
.settings
impl/src/main/resources/com/liferay/solarBudget/internal/services/portlet.properties